KERNEL_SRC=/src/linux-dev
. test_core/lib/common.sh
. test_core/lib/setup_mce_tools.sh
. test_core/lib/setup_hugetlb_base.sh
. test_core/lib/setup_thp_base.sh

HPSIZE=2048
HPNUM=100
HPNUM_FOR_HOTREMOVE=$[MEMTOTAL/HPSIZE/2]
NUMNODE=

DEFAULT_TEST_PREPARE=prepare_test
DEFAULT_TEST_CLEANUP=cleanup_test
DEFAULT_TEST_CONTROLLER=control_hugepage_migration
DEFAULT_TEST_CHECKER=check_hugepage_migration

. setup_hugepage_migration_test.sh
. setup_thp_migration_test.sh

TEST_TITLE="thp_migration_auto_numa"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=1
TEST_PROGRAM="${TESTALLOCTHP} -n $NR_THPS"
TEST_CONTROLLER=control_thp_migration_auto_numa
TEST_CHECKER=check_thp_migration_auto_numa
TEST_PREPARE=prepare_thp_migration_auto_numa
TEST_CLEANUP=cleanup_thp_migration_auto_numa
TEST_FLAGS=devel
do_test_sync

TEST_TITLE="mlock_on_shared_thp"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=2
TEST_PROGRAM="${TESTMLOCKONSHAREDTHP} -n $NR_THPS"
TEST_CONTROLLER=control_$TEST_TITLE
TEST_CHECKER=check_$TEST_TITLE
TEST_PREPARE=prepare_$TEST_TITLE
TEST_CLEANUP=cleanup_$TEST_TITLE
TEST_FLAGS=devel
# do_test_sync

TEST_TITLE="mprotect_on_shared_thp"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=2
TEST_PROGRAM="${TESTMPROTECTONSHAREDTHP} -n $NR_THPS"
TEST_CONTROLLER=control_mprotect_on_shared_thp
TEST_CHECKER=check_mprotect_on_shared_thp
TEST_PREPARE=prepare_mprotect_on_shared_thp
TEST_CLEANUP=cleanup_mprotect_on_shared_thp
TEST_FLAGS=devel
# do_test_sync

TEST_TITLE="mprotect_on_shared_thp_unaligned"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=2
TEST_PROGRAM="${TESTMPROTECTONSHAREDTHP} -u -n $NR_THPS"
TEST_CONTROLLER=control_mprotect_on_shared_thp
TEST_CHECKER=check_mprotect_on_shared_thp
TEST_PREPARE=prepare_mprotect_on_shared_thp
TEST_CLEANUP=cleanup_mprotect_on_shared_thp
TEST_FLAGS=devel
 #do_test_sync

NR_THPS=2
TEST_TITLE=migratepages_thp
TEST_CONTROLLER=control_migratepages_thp
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_alloc_thp -n $NR_THPS"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=migratepages_thp_busyloop
TEST_CONTROLLER=control_migratepages_thp
TEST_CHECKER=check_system_default
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_alloc_thp -n $NR_THPS -b"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=migratepages_thp_race_with_gup
TEST_CONTROLLER=control_migratepages_thp_race_with_gup
TEST_CHECKER=check_system_default
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_thp_migration_race_with_gup -n $NR_THPS"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=20
TEST_TITLE=migratepages_thp_race_with_process_vm_access
TEST_CONTROLLER=control_migratepages_thp_race_with_process_vm_access
TEST_CHECKER=check_system_default
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_process_vm_access -n $NR_THPS"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=mbind_thp
TEST_CONTROLLER=control_mbind_migration
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_mbind_hm -m private -n $NR_THPS -t"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=mbind_thp_partial
TEST_CONTROLLER=control_mbind_migration
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_mbind_hm -m private -n $NR_THPS -t -P"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=move_pages_thp
TEST_CONTROLLER=control_move_pages
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_move_pages -m private -n $NR_THPS -t"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=move_pages_thp_partial
TEST_CONTROLLER=control_move_pages
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_migratepages_thp
TEST_CLEANUP=cleanup_migratepages_thp
TEST_PROGRAM="$test_move_pages -m private -n $NR_THPS -t -P"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=10
TEST_TITLE=tmp_move_pages_thp_migration_fail
TEST_CONTROLLER=control_move_pages
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_move_pages_thp_migration_fail
TEST_CLEANUP=cleanup_move_pages_thp_migration_fail
TEST_PROGRAM="$test_move_pages -m private -n $NR_THPS"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=2
TEST_TITLE=change_cpuset_thp
TEST_CONTROLLER=control_change_cpuset_thp
TEST_CHECKER=check_thp_migration
TEST_PREPARE=prepare_change_cpuset_thp
TEST_CLEANUP=cleanup_change_cpuset_thp
TEST_PROGRAM="$test_alloc_thp -n $NR_THPS"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

NR_THPS=$[HPNUM_FOR_HOTREMOVE \*4/5]
TEST_TITLE=memory_hotremove_migration_thp
TEST_CONTROLLER=control_memory_hotremove_migration_thp
TEST_CHECKER=check_memory_hotremove_migration_thp
TEST_PREPARE=prepare_memory_hotremove_migration_thp
TEST_CLEANUP=cleanup_memory_hotremove_migration_thp
TEST_PROGRAM="$hugepage_for_hotremove -m private -t -n $NR_THPS"
TEST_FLAGS=devel
EXPECTED_RETURN_CODE="START EXIT"
do_test_sync

TEST_TITLE=migratepages_thp_race_with_map_fault_unmap
TEST_PREPARE=prepare_system_default
TEST_CLEANUP=cleanup_system_default
TEST_CONTROLLER=control_race_migratepages_and_map_fault_unmap
TEST_CHECKER=check_race_migratepages_and_map_fault_unmap
EXPECTED_RETURN_CODE="START EXIT"
do_test_async
